<div class="text-center body-auth">
    <form class="form-signin" ng-submit="vm.logar()">
        <!-- <img class="mb-4" src="app/images/logo.jpg" alt="" width="200" height="100"> -->

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="h3 mb-3 font-weight-normal text-white">Realize login para acessar o sistema</h1>
            </div>

            <label for="inputEmail" class="sr-only">Usuário</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Usuário" required autofocus ng-model="vm.credenciais.username">
    
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" class="form-control" ng-model="vm.credenciais.password" placeholder="Senha" required="">
    
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </div>
        
        <p class="mt-5 mb-3 text-muted text-white">© 2019</p>
    </form>
</div>
