<div class="sidebar" data-color="blue">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text" ui-sref="app.main">
                Leonardo
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="app.teste.listar">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="nav-link" ui-sref="app.usuario.listar">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Jogadores</p>
                </a>
            </li>
        </ul>
    </div>
</div>