<div class="wrapper">
    <!-- Navigation -->
    <div ng-include="'app/views/common/sidebar.html'">
    </div>

    <div class="main-panel">
        <!-- Navbar -->
        <div ng-include="'app/views/common/navbar.html'"></div>

        <div class="content">
            <div class="container-fluid">
                <!-- Main content -->
                <ui-view></ui-view>
            </div>
        </div>
    </div>

        

    <!-- Footer -->
    <!-- <div ng-include="'app/views/common/footer.html'"></div> -->
</div>